# --- 機密情報 (ファイル名で指定すれば移動しても安心です) ---
GPT_API_Key.txt
prompt_judge.txt

# --- Pythonの自動生成ファイル ---
__pycache__/
*.pyc

# --- ROS/Catkinのビルド生成物 ---
build/
devel/
.catkin_workspace

# --- データファイル (必要に応じて) ---
*.wav
