version: '3.8'

services:
  ros_audio:
    build: .
    image: ros_noetic_audio
    container_name: ros_audio_container
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - PULSE_SERVER=unix:${XDG_RUNTIME_DIR}/pulse/native
      - PULSE_COOKIE=/root/.config/pulse/cookie
      - ROS_MASTER_URI=${ROS_MASTER_URI}
      - ROS_IP=${ROS_IP}
    volumes:
      - /dev/snd:/dev/snd
      - ${XDG_RUNTIME_DIR}/pulse/native:${XDG_RUNTIME_DIR}/pulse/native
      - ${HOME_DIR}/.config/pulse/cookie:/root/.config/pulse/cookie
      - .:/root/workspace
    devices:
      - /dev/snd:/dev/snd
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    group_add:
      - audio
    stdin_open: true # docker run -i
    tty: true # docker run -t
