<launch>
  <arg name="mic_id" default="f" />
  <arg name="device_index" default="" />
  <arg name="robot_ip" default="150.89.169.206" />
  <arg name="ros_ip" default="150.89.169.151" />

  <group ns="$(arg mic_id)_mic_group">
    
    <node pkg="sound_send" type="sound_trigger.py" name="sound_trigger_node" output="screen">
      <param name="mic_id" value="$(arg mic_id)" />
      <param name="device_index" value="$(arg device_index)" if="$(eval arg('device_index') != '')"/>
    </node>

    <node pkg="sound_send" type="whisper_node.py" name="whisper_node" output="screen">
      
      <param name="mic_id" value="$(arg mic_id)" />
      <param name="device_index" value="$(arg device_index)" if="$(eval arg('device_index') != '')"/>

      <remap from="/audio_path" to="/first_mic/audio_path" if="$(eval arg('mic_id') == 'f')"/>
      <remap from="/audio_path" to="/second_mic/audio_path" if="$(eval arg('mic_id') == 's')"/>
      <remap from="/audio_path" to="/$(arg mic_id)/audio_path" if="$(eval arg('mic_id') != 'f' and arg('mic_id') != 's')"/>
      
      <remap from="/whisper_result" to="/whisper_result" />
      <remap from="/whisper_state" to="/$(arg mic_id)/whisper_state" />
    </node>
  </group>
</launch>